<div class="body">
    <div class="section">
        <h3 class="section-label">Sent From</h3>
        <p class="section-value">{{recognition.SentFromName}}</p>
    </div>
    <div class="section">
        <h3 class="section-label">Sent To</h3>
        <p class="section-value">{{recognition.SentToName}}</p>
    </div>
    <div class="section">
        <h3 class="section-label">Date</h3>
        <p class="section-value">{{recognition.EntryDate}}</p>
    </div>
    <div class="section">
        <h3 class="section-label">Category</h3>
        <p class="section-value">{{recognition.Category}}</p>
    </div>
    <div class="section">
        <h3 class="section-label">Message</h3>
        <p class="section-value">{{recognition.Message}}</p>
    </div>
</div>